*{
    margin: 0;
    padding: 0;

}

body {

    background-color: aqua;

    &.pagina1 {

       

    h1 {
        text-align: center;
    }

    div {

        &.form {
        
        display: flex;
        justify-content: space-around;

        button {
            width: 100px;
            margin-top: 30px;
        }
        
    }
}
    


    div {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

    
    img
     {

        &.pag1 {
            
        display: flex;
        width: 300px;
        cursor: pointer;
        

        
        
        
    }

    }}
}
}

    .pagina2 {

        font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 20px;

        div {
            &.sticker-container {    
                
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                width: 100px;
                 img {
                        width:100px;
                        height:auto;
                    }
                }
            }}
            




    }




    
