*{
    margin: 0;
    padding: 0;

}

body {

    h1 {
        text-align: center;
    }

    div {

        &.form {
        
        display: flex;
        justify-content: space-around;

        button {
            width: 100px;
            margin-top: 30px;
        }
        
    }
}
    


    div {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

    
    img
     {

        &.pag1 {
            
        display: flex;
        width: 300px;
        cursor: pointer;
        

        
        
        
    }

    }}
}
